<div class="header">
    <div class="profile-pic-container">
        <a href="/"><img src="{{site.icon}}" alt="Site Icon" class="profile-pic"></a>
    </div>
    <a href="/">
        <div class="titletag">
            <div class="title">{{site.title}}

            </div>
            <div class="tagline">{{site.tagline}}</div>

        </div>
    </a>
    <div class="links">
        <a href="/about">About</a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
    </div>

</div>